export_alias run "python3 manage.py runserver 0.0.0.0:8000"
export_alias migrate "python3 manage.py migrate --run-syncdb && python3 manage.py makemigrations && python3 manage.py migrate"
export_alias new "python3 manage.py startapp"
export_alias admin "python3 manage.py createsuperuser"
export_alias static "python3 manage.py collectstatic --noinput"