{% extends "base.html" %}
{% block navbar %}{% include "userbar.html" %}{% endblock %}
{% block title %}Job{% endblock %}

{% block content %}

<!-- Written by ChatGPT $$ - EOF -->

<div class="container py-4 mb-5">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <h3 class="mb-1">{{ job.title }}</h3>
      <div class="text-secondary mb-3">
        {{ job.company_name|default:"" }} • {{ job.location_text|default:"" }} • {{ job.remote_type }}
      </div>

      <div class="mb-2">
        {% for s in job.skills.all %}
          <span class="badge bg-secondary">{{ s.name }}</span>
        {% endfor %}
      </div>

      <p>{{ job.description }}</p>

      <div class="mt-3 d-flex gap-2">
        {% if already_applied %}
          <span class="text-secondary">You already applied.</span>
        {% else %}
          <a class="btn btn-primary" href="{% url 'job_apply' job.id %}">Apply</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'job_list' %}">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
